/* begin Box, Sheet */
.sheet-tl
{
  clip: rect(auto 39px 39px auto);
}

.sheet-tr
{
  clip: rect(auto auto 39px 39px);
}

.sheet-bl
{
  clip: rect(39px 39px auto auto);
}

.sheet-br
{
  clip: rect(39px auto auto 39px);
}

.sheet-tc
{
  clip: rect(auto auto 39px auto);
}

.sheet-bc
{
  clip: rect(39px auto auto auto);
}

.sheet-cr
{
  clip: rect(auto auto auto 39px);
}

.sheet-cl
{
  clip: rect(auto 39px auto auto);
}

.sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin MenuItem */
.menu a .r
{
  clip: rect(auto auto auto 410px);
}
/* end MenuItem */

/* begin Layout */
div.content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Button */
.button-wrapper .r
{
  clip: rect(auto auto auto 399px);
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.vmenublock-tl
{
  clip: rect(auto 7px 7px auto);
}

.vmenublock-tr
{
  clip: rect(auto auto 7px 7px);
}

.vmenublock-bl
{
  clip: rect(7px 7px auto auto);
}

.vmenublock-br
{
  clip: rect(7px auto auto 7px);
}

.vmenublock-tc
{
  clip: rect(auto auto 7px auto);
}

.vmenublock-bc
{
  clip: rect(7px auto auto auto);
}

.vmenublock-cr
{
  clip: rect(auto auto auto 7px);
}

.vmenublock-cl
{
  clip: rect(auto 7px auto auto);
}

.vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader .r
{
  clip: rect(auto auto auto 862px);
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */

.vmenublockcontent-body
{
  zoom: 1;
}

.vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu .vmenu-separator, ul.vmenu .vmenu-separator-span, ul.vmenu li.vsubmenu-separator, ul.vmenu .vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.vmenu ul, .vmenu li
{
  zoom: 1;
}

ul.vmenu a .r
{
  clip: rect(auto auto auto 887px);
}
/* end VMenuItem */

/* begin Box, Block */

.block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader .r
{
  clip: rect(auto auto auto 863px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent-tl
{
  clip: rect(auto 7px 7px auto);
}

.blockcontent-tr
{
  clip: rect(auto auto 7px 7px);
}

.blockcontent-bl
{
  clip: rect(7px 7px auto auto);
}

.blockcontent-br
{
  clip: rect(7px auto auto 7px);
}

.blockcontent-tc
{
  clip: rect(auto auto 7px auto);
}

.blockcontent-bc
{
  clip: rect(7px auto auto auto);
}

.blockcontent-cr
{
  clip: rect(auto auto auto 7px);
}

.blockcontent-cl
{
  clip: rect(auto 7px auto auto);
}

.blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */
.post-tl
{
  clip: rect(auto 15px 15px auto);
}

.post-tr
{
  clip: rect(auto auto 15px 15px);
}

.post-bl
{
  clip: rect(15px 15px auto auto);
}

.post-br
{
  clip: rect(15px auto auto 15px);
}

.post-tc
{
  clip: rect(auto auto 15px auto);
}

.post-bc
{
  clip: rect(15px auto auto auto);
}

.post-cr
{
  clip: rect(auto auto auto 15px);
}

.post-cl
{
  clip: rect(auto 15px auto auto);
}

.post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.footer-r
{
  clip: rect(auto auto auto 10px);
}

/* end Footer */

/* begin LayoutCell, content */
div.sidebar1
{
  width: auto;
}

div.content-layout div.layout-cell, div.content-layout div.layout-cell div.content-layout div.layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.layout-cell div.layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}/* end LayoutCell, content */