{% extends 'base.html' %}
{% block content %} 
  {% load comments %}
  {% for post in Posts %}
  	{% get_comment_count for post as comment_count %}
  	<h2 class="postheader">{{ post.titulo|safe }}</h2>
  	<p class="chronodata">Publicado: {{ post.creado|date:"F j, Y" }} ||
  	<span>Categoria: {{ post.categoria.nombre }} || <b>  {{ comment_count }} comentarios.</b></span></p>
  	

	
    <p>{{ post.autor.username }} escribio:</p>   
    <div class="postcontent"><p>{{ post.contenido_html|truncatewords_html:"100"|safe }}</p>
    
    	<p>
    	<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="{{ post.get_absolute_url }}">Ver Mas..</a> </span>
		</p>
		<div class="cleared"></div>
		
    
    </div>
   
    
  {% endfor %}
  
{% endblock %}
{%block contBarraLat%}
{% if user.is_authenticated %}
  <p><a href="{% url blog.views.crear_Post %}">Crear Post</a></p>
  <p><a href="{% url blog.views.lista_Posts %}">Listar Posts</a></p>  
 
{%endif%}
{% endblock %} 