{% extends 'base.html' %}
{% block content %} 
  
  {% for post in Posts %}
  	
  	<h2 class="postheader">{{ post.titulo|safe }}</h2>
  	<p class="chronodata">Publicado: {{ post.creado|date:"F j, Y" }} <span>Categoria: {{ post.categoria.nombre }}  </span></p>
  	  
    <p>{{ post.autor.username }} escribio:</p>   
    <div class="postcontent"><p>{{ post.contenido_html|safe }}</p>
    
    	<p>
    	<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="javascript:void(0)">Leer Mas...</a> </span>
		</p>
		<div class="cleared"></div>
		
    
    </div>
   
    
  {% endfor %}
  
{% endblock %}
{%block contBarraLat%}
{% if user.is_authenticated %}
  <p><a href="/blog/post/crearpost/">Crear Post</a></p>
  <p><a href="/blog/post/listpost/">Listar Posts</a></p>  
 
{%endif%}
{% endblock %} 