 {% load comments %}
  {% for pc in Posts %}
  <article>
  	
  	{% get_comment_count for pc as comment_count %}
  	<h1 >{{ pc.titulo|safe }}</h1>
  	<p class="chronodata">Publicado: {{ pc.creado|date:"F j, Y" }} ||
  	<span>Categoria: {{ pc.categoria.nombre }} || <b>  {{ comment_count }} comentarios.</b></span></p>
  	{% if pc.tags %} Etiquetas: {% endif %}
  	{% for tag in pc.tags %}
    {{ tag }} |
    {% endfor %}
    	
    <p class="autor">{{ pc.autor.username }} escribio:</p>   
    <div class="postcontent"><p>{{ pc.contenido_html|truncatewords_html:"100"|safe }}</p>
    
    	<p>
    	<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="{{ pc.get_absolute_url }}">Ver Mas..</a> </span>
		</p>
		    
    </div>   
</article>   
  {% endfor %}
   
  	 <div class='paginacion'>
  	{% if pag != atras%}
  		<a  class="atras" href="{% url blog.views.lista_Post_Categoria catpag atras %}"></a>
  		{% endif%}
  		{% if pag != sig%}  	
  		<a class="sig" href="{% url blog.views.lista_Post_Categoria catpag sig %}"></a>
  		{% endif%}
</div>