 {% load comments %}
  {% for pt in Posts %}
  <div class="post">
	<div class="post-tl"></div>
	<div class="post-tr"></div>
	<div class="post-bl"></div>
	<div class="post-br"></div>
	<div class="post-tc"></div>
	<div class="post-bc"></div>
	<div class="post-cl"></div>
	<div class="post-cr"></div>
	<div class="post-cc"></div>
	<div class="post-body">
		<div class="post-inner article">
  	
  	{% get_comment_count for pt as comment_count %}
  	<h2 class="postheader">{{ pt.post.titulo|safe }}</h2>
  	<p class="chronodata">Publicado: {{ pt.post.creado|date:"F j, Y" }} ||
  	<span>Categoria: {{ pt.post.categoria.nombre }} || <b>  {{ comment_count }} comentarios.</b></span></p>
  	
  	
    {{ pt.tag.etiqueta }}
    
  	
  	

	
    <p>{{ pt.post.autor.username }} escribio:</p>   
    <div class="postcontent"><p>{{ pt.post.contenido_html|truncatewords_html:"100"|safe }}</p>
    
    	<p>
    	<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="{{ pt.post.get_absolute_url }}">Ver Mas..</a> </span>
		</p>
		<div class="cleared"></div>
		
    
    </div>   
<div class="cleared"></div>
</div>

<div class="cleared"></div>
</div>
</div>    
  {% endfor %}