 {% load comments %}
  {% for post in Posts %}
 <article>
  	
  	{% get_comment_count for post as comment_count %}
  	<h1 >{{ post.titulo|safe }}</h1>
  	<p class="chronodata">Publicado: {{ post.creado|date:"F j, Y" }} ||
  	<span>Categoria: {{ post.categoria.nombre }} || <b>  {{ comment_count }} comentarios.</b></span></p>
  	{% if post.tags %} Etiquetas: {% endif %}
  	{% for tag in post.tags %}
    {{ tag }} |
    {% endfor %}
    
  	
  	

	
    <p class="autor">{{ post.autor.username }} escribio:</p>   
    <div class="postcontent"><p>{{ post.contenido_html|truncatewords_html:"100"|safe }}</p>
    
    	<p>
    	<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="{{ post.get_absolute_url }}">Ver Mas..</a> </span>
		</p>
		    
    </div>   
</article>  
  {% endfor %}
  
  	 <div class='paginacion'>
  	{% if pag != atras%}
  		<a  class="atras" href="{% url blog.views.index_Posts atras %}"><img src="/media/css/img/fizq.jpg"/></a>
  		{% endif%}
  		{% if pag != sig%}  	
  		<a class="sig" href="{% url blog.views.index_Posts sig %}"><img src="/media/css/img/fder.jpeg"/></a>
  		{% endif%}
  
	</div>

  	