{% extends 'blog/post/base_post.html' %} 
{%block cuerpo %}

<h3>Lista de Posts Activos</h3>
 {% if user.is_authenticated %}<p>
    	<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="{% url blog.views.crear_Post %}">Crear Post</a> </span>
		
		<span class="button-wrapper"> <span class="l">
    	</span> <span class="r"> </span> <a class="button"
		href="{% url django.contrib.auth.views.logout %}">Salir</a> </span>
		</p>		
		<div class="cleared"></div>  
 
{%endif%}
<table class="lista">
	
	<tr>
		<th>Titulo</th>
		<th>Autor</th>		
		<th>Estado</th>		
		<th>Categoria</th>
		<th>Creado</th>
	</tr>
	{% for post in Posts.object_list  %}
	<tr>								  
		<td class="relevante"><a href="{{ post.get_absolute_url }}">{{ post.titulo }}</a>
			<div class="flotader"> <a href="{% url blog.views.modificar_Post post.slug %}"><img src="/media/css/img/modificar.jpeg"/> </a>
				<a href="{% url blog.views.borrar_Post  post.slug %}"><img src="/media/css/img/borrar.jpeg"/> </a>
			</div>
		</td>
		<td>{{ post.autor.username }}</td>		
		<td>{{ post.get_estado_display }}</td>			
		<td>{{ post.categoria.nombre }}</td>
		<td>{{ post.creado|date:"F j, Y" }}</td>
	</tr>
	{% endfor %}
	
</table>
<div class="paginacion">
    <span class="step-links">
        {% if Posts.has_previous %}
            <a href="?page={{ Posts.previous_page_number }}"><--Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ Posts.number }} of {{ Posts.paginator.num_pages }}.
        </span>

        {% if Posts.has_next %}
            <a href="?page={{ Posts.next_page_number }}">Siguiente--></a>
        {% endif %}
    </span>
</div>
  
{% endblock %}

