{% extends 'base.html' %}
{% block content %} 
  <article>
  <h1>Blog Rubentxu</h1>
  <p>Bueno, otro blog mas dentro de la Blogosfera espero que sea de vuestro agrado. Aqui hablare sobre mis 
  pasiones que son  programar, la tecnologia y tambien un poco de futbol jeje ademas de algun pensamiento 
  conspiranoico.</p>
  <p>
  Os comento que el blog lo ha programado un servidor, en Python y Django, bajo los buenos servidores de AppEngine de Google
  que son por ahora gratuitos, soy de los cabezones que dicen: 'si quieres un blog, te lo programas'.
  Ademas esta hecho en los nuevos estandares de Html5 y Css3 aunque e creado estilos  para navegadores antiguos o malos
  (como IE6,7,8), asi que en teoria se tendria que ver bien en todos, pero mucho mejor en los mas nuevos.
  Si quereis ver el codigo del blog esta alojado en GitHub: <a href="https://github.com/Rubentxu/RubentxuDjangoPy">Aqui</a>.
  </p>
  <p>Si dejas comentarios os pediria que seais buenos con lo que comentais ademas de respetuoso,espero
    que no se cuele ningun troll que comience polemicas que no conducen a nada. Todos somos libres de 
    expresarnos pero con educacion. Por ultimo espero que me perdoneis mis faltas de ortografia, tildes que
    no pongo nunca y mis desvarios, estos ultimos se me pasan al rato.</p>
    <p>Si alguien quiere contactar conmigo mandeme un correo a Rubentxu74@gmail.com</p>
  </article>
  
{% endblock %}
{% block aside%}
{% endblock %}																		