<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es-ES"
	xml:lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Blog Rubentxu{% endblock %}</title>
<link rel="stylesheet" href="../media/estilo.css" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" href="../media/estilo.ie6.css" type="text/css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="../media/estilo.ie7.css" type="text/css" media="screen" /><![endif]-->
</head>
<body>
	<div id="page-background-simple-gradient">
		<div id="page-background-gradient"></div>
	</div>
	<div id="page-background-glare">
		<div id="page-background-glare-image"></div>
	</div>
	<div id="main">
		<div class="sheet">
			<div class="sheet-tl"></div>
			<div class="sheet-tr"></div>
			<div class="sheet-bl"></div>
			<div class="sheet-br"></div>
			<div class="sheet-tc"></div>
			<div class="sheet-bc"></div>
			<div class="sheet-cl"></div>
			<div class="sheet-cr"></div>
			<div class="sheet-cc"></div>
			<div class="sheet-body">
				<div class="header">
					<div class="header-png"></div>
					<div class="header-jpeg"></div>
					<div class="logo">
						<h1 id="name-text" class="logo-name">
							<a href="#">Blog</a>
						</h1>
						<div id="slogan-text" class="logo-text">Rubentxu</div>
					</div>
				</div>
				<div class="nav">
					<ul class="menu">
						<li><a href="#" class="active"><span class="l"></span><span
								class="r"></span><span class="t">La Cuadri</span> </a></li>
						<li><a href="#" class="active"><span class="l"></span><span
								class="r"></span><span class="t">La Cuadri JR.</span> </a></li>
						<li><a href="#" class="active"><span class="l"></span><span
								class="r"></span><span class="t">Muro</span> </a></li>
					</ul>
				</div>
				<div class="content-layout">
					<div class="content-layout-row">
						<div class="layout-cell content">
							{% block content %} 
							{% if user.is_authenticated %} 
							{{ user.username }} [<a
								href="{% url django.contrib.auth.views.logout %}">sign out</a>]
							{% else %} World! [<a
								href="{% url django.contrib.auth.views.login %}">sign in</a>] 
							{% endif %}
							<div class="post">
								<div class="post-tl"></div>
								<div class="post-tr"></div>
								<div class="post-bl"></div>
								<div class="post-br"></div>
								<div class="post-tc"></div>
								<div class="post-bc"></div>
								<div class="post-cl"></div>
								<div class="post-cr"></div>
								<div class="post-cc"></div>
								<div class="post-body">
									<div class="post-inner article">
										<h2 class="postheader">Welcome</h2>
										<div class="postcontent">
											<!-- article-content -->


											<p>
												Lorem ipsum dolor sit amet, <a href="#" title="link">link</a>,
												<a class="visited" href="#" title="visited link">visited
													link</a>, <a class="hover" href="#" title="hovered link">hovered
													link</a> consectetuer adipiscing elit. Quisque sed felis.
												Aliquam sit amet felis. Mauris semper, velit semper laoreet
												dictum, quam diam dictum urna, nec placerat elit nisl in
												quam. Etiam augue pede, molestie eget, rhoncus at, convallis
												ut, eros.
											</p>
											<p>
												<span class="button-wrapper"> <span class="l">
												</span> <span class="r"> </span> <a class="button"
													href="javascript:void(0)">Read more...</a> </span>
											</p>
											<div class="cleared"></div>
											<div class="content-layout overview-table">
												<div class="content-layout-row">
													<div class="layout-cell">
														<div class="overview-table-inner">
															<h4>Support</h4>
															<img src="images/01.png" width="55px" height="55px"
																alt="an image" class="image" />
															<p>Lorem ipsum dolor sit amet, consectetuer
																adipiscing elit. Quisque sed felis. Aliquam sit amet
																felis. Mauris semper, velit semper laoreet dictum, quam
																diam dictum urna.</p>
														</div>
													</div>
													<!-- end cell -->
													<div class="layout-cell">
														<div class="overview-table-inner">
															<h4>Development</h4>
															<img src="images/02.png" width="55px" height="55px"
																alt="an image" class="image" />
															<p>Lorem ipsum dolor sit amet, consectetuer
																adipiscing elit. Quisque sed felis. Aliquam sit amet
																felis. Mauris semper, velit semper laoreet dictum, quam
																diam dictum urna.</p>
														</div>
													</div>
													<!-- end cell -->
													<div class="layout-cell">
														<div class="overview-table-inner">
															<h4>Strategy</h4>

															<img src="images/03.png" width="55px" height="55px"
																alt="an image" class="image" />
															<p>Lorem ipsum dolor sit amet, consectetuer
																adipiscing elit. Quisque sed felis. Aliquam sit amet
																felis. Mauris semper, velit semper laoreet dictum, quam
																diam dictum urna.</p>
														</div>
													</div>
													<!-- end cell -->
												</div>
												<!-- end row -->
											</div>
											<!-- end table -->

											<!-- /article-content -->
										</div>
										<div class="cleared"></div>
									</div>

									<div class="cleared"></div>
								</div>
							</div>
							<div class="post">
								<div class="post-tl"></div>
								<div class="post-tr"></div>
								<div class="post-bl"></div>
								<div class="post-br"></div>
								<div class="post-tc"></div>
								<div class="post-bc"></div>
								<div class="post-cl"></div>
								<div class="post-cr"></div>
								<div class="post-cc"></div>
								<div class="post-body">
									<div class="post-inner article">
										<h2 class="postheader">
											Text, <a href="#" rel="bookmark"
												title="Permanent Link to this Post">Link</a>, <a
												class="visited" href="#" rel="bookmark"
												title="Visited Hyperlink">Visited</a>, <a class="hovered"
												href="#" rel="bookmark" title="Hovered Hyperlink">Hovered</a>
										</h2>
										<div class="postcontent">
											<!-- article-content -->
											<p>
												Lorem <sup>superscript</sup> dolor <sub>subscript</sub>
												amet, consectetuer adipiscing elit, <a href="#"
													title="test link">test link</a>. Nullam dignissim convallis
												est. Quisque aliquam. <cite>cite</cite>. Nunc iaculis
												suscipit dui. Nam sit amet sem. Aliquam libero nisi,
												imperdiet at, tincidunt nec, gravida vehicula, nisl.
												Praesent mattis, massa quis luctus fermentum, turpis mi
												volutpat justo, eu volutpat enim diam eget metus. Maecenas
												ornare tortor. Donec sed tellus eget sapien fringilla
												nonummy. <acronym title="National Basketball Association">NBA</acronym>
												Mauris a ante. Suspendisse quam sem, consequat at, commodo
												vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
												<abbr title="Avenue">AVE</abbr>
											</p>

											<h1>Heading 1</h1>
											<h2>Heading 2</h2>
											<h3>Heading 3</h3>
											<h4>Heading 4</h4>
											<h5>Heading 5</h5>
											<h6>Heading 6</h6>

											<blockquote>
												<p>
													&#8220;This stylesheet is going to help so freaking
													much.&#8221; <br /> -Blockquote
												</p>
											</blockquote>
											<br />
											<table class="article" border="0" cellspacing="0"
												cellpadding="0">
												<tbody>
													<tr>
														<th>Header</th>
														<th>Header</th>
														<th>Header</th>
													</tr>
													<tr>
														<td>Data</td>
														<td>Data</td>
														<td>Data</td>
													</tr>
													<tr class="even">
														<td>Data</td>
														<td>Data</td>
														<td>Data</td>
													</tr>
													<tr>
														<td>Data</td>
														<td>Data</td>
														<td>Data</td>
													</tr>
												</tbody>
											</table>

											<p>
												<span class="button-wrapper"> <span class="l">
												</span> <span class="r"> </span> <a class="button"
													href="javascript:void(0)">Join&nbsp;Now!</a> </span>
											</p>

											<!-- /article-content -->
										</div>
										<div class="cleared"></div>
									</div>

									<div class="cleared"></div>
								</div>
							</div>
							{% endblock %}
						</div>
						<div class="layout-cell sidebar1">

							<div class="block">
								<div class="block-body">
									<div class="blockheader">
										<div class="l"></div>
										<div class="r"></div>
										<div class="t">Newsletter</div>
									</div>
									<div class="blockcontent">
										<div class="blockcontent-tl"></div>
										<div class="blockcontent-tr"></div>
										<div class="blockcontent-bl"></div>
										<div class="blockcontent-br"></div>
										<div class="blockcontent-tc"></div>
										<div class="blockcontent-bc"></div>
										<div class="blockcontent-cl"></div>
										<div class="blockcontent-cr"></div>
										<div class="blockcontent-cc"></div>
										<div class="blockcontent-body">
											<!-- block-content -->
											<div>
												<form method="get" id="newsletterform"
													action="javascript:void(0)">
													<input type="text" value="" name="email" id="s"
														style="width: 95%;" /> <span class="button-wrapper">
														<span class="l"> </span> <span class="r"> </span> <input
														class="button" type="submit" name="search"
														value="Subscribe" /> </span>

												</form>
											</div>
											<!-- /block-content -->

											<div class="cleared"></div>
										</div>
									</div>
									<div class="cleared"></div>
								</div>
							</div>
							<div class="block">
								<div class="block-body">
									<div class="blockheader">
										<div class="l"></div>
										<div class="r"></div>
										<div class="t">Highlights</div>
									</div>
									<div class="blockcontent">
										<div class="blockcontent-tl"></div>
										<div class="blockcontent-tr"></div>
										<div class="blockcontent-bl"></div>
										<div class="blockcontent-br"></div>
										<div class="blockcontent-tc"></div>
										<div class="blockcontent-bc"></div>
										<div class="blockcontent-cl"></div>
										<div class="blockcontent-cr"></div>
										<div class="blockcontent-cc"></div>
										<div class="blockcontent-body">
											<!-- block-content -->
											<div>
												<ul>
													<li><a href="#">Home</a>
													</li>
													<li><a href="#">Overview</a>
													</li>
													<li><a href="#">Demo</a>
													</li>
													<li><a href="#">Download</a>
													</li>
													<li><a href="#">FAQ</a>
													</li>
													<li><a href="#">Hyperlink</a>
													</li>
													<li><a href="#" class="visited">Visited link</a>
													</li>
													<li><a href="#" class="hover">Hovered link</a>
													</li>
												</ul>

												<p>
													<b>Jun 14, 2008</b><br /> Aliquam sit amet felis. Mauris
													semper, velit semper laoreet dictum, quam diam dictum urna,
													nec placerat elit nisl in quam. Etiam augue pede, molestie
													eget, rhoncus at, convallis ut, eros. Aliquam pharetra.<br />
													<a href="javascript:void(0)">Read more...</a>
												</p>

												<p>
													<b>Aug 24, 2008</b><br /> Aliquam sit amet felis. Mauris
													semper, velit semper laoreet dictum, quam diam dictum urna,
													nec placerat elit nisl in quam. Etiam augue pede, molestie
													eget, rhoncus at, convallis ut, eros. Aliquam pharetra.<br />
													<a href="javascript:void(0)">Read more...</a>
												</p>
											</div>
											<!-- /block-content -->

											<div class="cleared"></div>
										</div>
									</div>
									<div class="cleared"></div>
								</div>
							</div>
							<div class="block">
								<div class="block-body">
									<div class="blockheader">
										<div class="l"></div>
										<div class="r"></div>
										<div class="t">Contact Info</div>
									</div>
									<div class="blockcontent">
										<div class="blockcontent-tl"></div>
										<div class="blockcontent-tr"></div>
										<div class="blockcontent-bl"></div>
										<div class="blockcontent-br"></div>
										<div class="blockcontent-tc"></div>
										<div class="blockcontent-bc"></div>
										<div class="blockcontent-cl"></div>
										<div class="blockcontent-cr"></div>
										<div class="blockcontent-cc"></div>
										<div class="blockcontent-body">
											<!-- block-content -->
											<div>
												<img src="images/contact.jpg" alt="an image"
													style="margin: 0 auto; display: block; width: 95%" /> <br />
												<b>Company Co.</b><br /> Las Vegas, NV 12345<br /> Email:
												<a href="mailto:info@company.com">info@company.com</a><br />
												<br /> Phone: (123) 456-7890 <br /> Fax: (123) 456-7890
											</div>
											<!-- /block-content -->

											<div class="cleared"></div>
										</div>
									</div>
									<div class="cleared"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cleared"></div>
				<div class="footer">
					<div class="footer-t"></div>
					<div class="footer-l"></div>
					<div class="footer-b"></div>
					<div class="footer-r"></div>
					<div class="footer-body">
						<a href="#" class="rss-tag-icon" title="RSS"></a>
						<div class="footer-text">
							<p>
								<a href="#">Contacto</a> | | <a href="#">Creado por Rubentxu</a><br />
								Copyright &#169; 2011 ---. Todos los derechos reservados.
							</p>
						</div>
						<div class="cleared"></div>
					</div>
				</div>
				<div class="cleared"></div>
			</div>
		</div>
		<div class="cleared"></div>
		<p class="page-footer">Blog-Rubentxu creado por Rubentxu.</p>
	</div>

</body>
</html>
