<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
        <!--[if IE 7]>    <link rel="stylesheet" href="css/estilo.ie7.css" type="text/css" media="screen" /> <![endif]-->
        <!--[if IE 8]>    <link rel="stylesheet" href="css/estilo.ie8.css" type="text/css" media="screen" /> <![endif]-->        
        <!--[if gt IE 8]><!--><!--<![endif]-->

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Blog Rubentxu--- {% endblock %}</title>

        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Mobile viewport optimized: j.mp/bplateviewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">        
        <link rel="stylesheet" href="/media/css/style.css">        
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript"> 
            google.load('search', '1', {language : 'es', style : google.loader.themes.SHINY});
            google.setOnLoadCallback(function() {
                var customSearchControl = new google.search.CustomSearchControl('001885404607443963327:jx3aenvneqo');
                customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
                customSearchControl.draw('cse');
            }, true);
        </script> 
    </head>
    <body>
        <div id="contenedor"  role="main">

            <nav>
                <a href="{% url django.contrib.syndication.views.feed 'ultimos' %}" class="rss-tag-icon" title="RSS"></a>
                <ul>
                    <li><a href="/" > Inicio</a></li>                  
                    <li><a href="/acercade" ">Acerca de..</a></li>
                    <li> <br>
                    </li>
                    <li><a href="{% url blog.views.lista_Posts %}">Admin</a></li>

                </ul>
            </nav>

            <section checked="true">

                <div id="cse" style="width: 100%;">Cargando..</div>                    
                {% block content %}


                <article>
                    <h1>Bendless Love</h1>
                    <p>Dear God, they'll be killed on our doorstep! And there's no
                        trash pickup until January 3rd. Leela, Bender, we're going
                        grave robbing. I guess because my parents keep telling me to
                        be more ladylike. As though!</p>
                    <h2>Insane in the Mainframe</h2>
                    <p>For example, if you killed your grandfather, you'd cease to
                        exist! Why would a robot need to drink? I love you, buddy!
                        I'm just glad my fat, ugly mama isn't alive to see this day.
                        We're also Santa Claus!</p>
                    <ul>
                        <li>Check it out, y'all. Everyone who was invited is here.</li>
                        <li>The alien mothership is in orbit here. If we can hit
                            that bullseye, the rest of the dominoes will fall like a
                            house of cards. Checkmate.</li>
                        <li>Why would a robot need to drink?</li>
                        <li>You guys aren't Santa! You're not even robots. How dare
                            you lie in front of Jesus?</li>
                    </ul>
                    <h3>The Series Has Landed</h3>
                    <p>As an interesting side note, as a head without a body, I
                        envy the dead. You guys go on without me! I'm going to go…
                        look for more stuff to steal! What kind of a father would I
                        be if I said no?</p>
                    <h4>The Cyber House Rules</h4>
                    <p>Good man. Nixon's pro-war and pro-family. I just told you!
                        You've killed me! I videotape every customer that comes in
                        here, so that I may blackmail them later. Spare me your
                        space age technobabble, Attila the Hun! But I've never been
                        to the moon!</p>
                    <ol>
                        <li>Ok, we'll go deliver this crate like professionals, and
                            then we'll go ride the bumper cars.</li>
                        <li>She also liked to shut up!</li>
                        <li>You guys go on without me! I'm going to go… look for
                            more stuff to steal!</li>
                    </ol>
                    <h5>That's Lobstertainment</h5>
                    <p>Leela's gonna kill me. Hello, little man. I will destroy
                        you! Fatal. Bender! Ship! Stop bickering or I'm going to
                        come back there and change your opinions manually! I decline
                        the title of Iron Cook and accept the lesser title of Zinc
                        Saucier, which I just made up. Uhh… also, comes with double
                        prize money. Ah, the 'Breakfast Club' soundtrack! I can't
                        wait til I'm old enough to feel ways about stuff!</p>
                    <a class="button" href="">Leer Mas..</a>
                </article>
                <article>
                    <h1>Bendless Love</h1>
                    <p>Dear God, they'll be killed on our doorstep! And there's no
                        trash pickup until January 3rd. Leela, Bender, we're going
                        grave robbing. I guess because my parents keep telling me to
                        be more ladylike. As though!</p>
                    <h2>Insane in the Mainframe</h2>
                    <p>For example, if you killed your grandfather, you'd cease to
                        exist! Why would a robot need to drink? I love you, buddy!
                        I'm just glad my fat, ugly mama isn't alive to see this day.
                        We're also Santa Claus!</p>

                    <h3>The Series Has Landed</h3>
                    <p>As an interesting side note, as a head without a body, I
                        envy the dead. You guys go on without me! I'm going to go…
                        look for more stuff to steal! What kind of a father would I
                        be if I said no?</p>
                    <h4>The Cyber House Rules</h4>
                    <p>Good man. Nixon's pro-war and pro-family. I just told you!
                        You've killed me! I videotape every customer that comes in
                        here, so that I may blackmail them later. Spare me your
                        space age technobabble, Attila the Hun! But I've never been
                        to the moon!</p>
                    <ol>
                        <li>Ok, we'll go deliver this crate like professionals, and
                            then we'll go ride the bumper cars.</li>
                        <li>She also liked to shut up!</li>
                        <li>You guys go on without me! I'm going to go… look for
                            more stuff to steal!</li>
                    </ol>

                    <a class="button" href="">Leer Mas..</a>


                </article>
                {% endblock %}
            </section>
            <header checked="true">
                <h1 checked="true" class="Titulo">&#34;Blog Rubentxu&#44;</h1>
            </header>
            <aside >
                <div class="blat">
                    <h3>Categorias</h3>
                    {% for c in cat%}
                    <a href="{% url blog.views.lista_Post_Categoria  c.nombre '1' %}" >{{ c.nombre }} |</a>											
                    {% endfor %}
                </div>

                <div class="blat">
                    <h3>Tags</h3>
                    {% for e, s in tags.items %}
                    <a href="{% url blog.views.lista_Post_Tag  e  '1' %}" class="size-{{ s }}">{{ e }} |</a> 											    											
                    {% endfor %}
                </div>
            </aside>
            <footer> 
                <a href="{% url django.contrib.syndication.views.feed 'ultimos' %}" class="rss-tag-icon" title="RSS"></a>
                <div class="footer-text">
                    <p>
                        <a href="#">Programado en Python con Django, Html5 y Css3 servidor AppEngine Google.</a> <br />
                        <a href="https://github.com/Rubentxu/RubentxuDjangoPy">LICENCIA AGPL | Codigo del Blog en Github.</a>
                    </p>                   
                    <a href="#">Blog-Rubentxu creado por Rubentxu.</a>
                </div>
            </footer>
        </div>

        <!-- JavaScript at the bottom for fast page loading --><!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        
        {% block jquerys %}
        	<!-- CODIGO EXTRA -->        
        {% endblock %}
        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
              chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7 ]><script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>  <![endif]-->
    </body>
</html>
